@media (min-width: 900px) {

    h2 {
        font-weight: 500;
    }

    .main {
        margin-left: 3rem;
        max-width: 1350px;
    }


    .footer {
        margin-left: 3rem;
        max-width: 1350px;
        flex-direction: row;
        gap: 1rem;
        /* flex-wrap: nowrap; */
    }

    @media (min-width: 1500px) {
        .main {
            margin: 0 auto;
            padding-left: 4.2rem;
        }

        .footer {
            margin: 0 auto;
            padding-left: 4.2rem;
        }
    }

    .search-container {
        position: sticky;
        top: 0;
        background-color: white;
    }

    .card-container {
        flex-direction: row;
    }

    .card {
        flex: 1;
    }

    .card-content {
        margin-bottom: 1rem;
    }

    .card-content h3 {
        font-size: 1.2rem;
    }

    .card-content p {
        font-size: 1rem;
    }

    footer nav {
        flex: 1;
    }

    footer section {
        flex: 1;
    }

    footer section div {
        flex-direction: column;
    }

    .logo-icon {
        width: 24px;
        height: auto;
    }

    .lang-opt {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 800;
    }

    /* Object */
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: flex;
        flex-direction: column;
        margin: 5px 5px;
        padding: 1rem 0;
        width: 4rem;

    }

    .search-desktop {
        display: flex;
        align-items: center;
        margin-top: 8rem;
        padding: 4px 10px 4px 4px;
        border: none;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px 0px;

    }

    .material-icons {
        padding: 8px;
    }

    .search-desktop>input {
        width: 100%;
        border: none;
        font-size: 1rem;
        padding: 0;
        margin-left: 8px;
    }

    .search-desktop>input:focus {
        outline: none;
    }

    .search-desktop>input::placeholder {
        color: #9CAAC4;
        letter-spacing: 0.5px;
    }

    .main-icons {
        gap: 0.5rem;
    }

    .main-icons>span {
        flex: 1;
        text-align: center;
    }

    .logo-text-img {
        max-width: 480px;
    }

    .earth {
        flex: 1;
    }

    .ramadan {
        flex: 1;
    }

    .cincodemayo {
        flex: 1;
    }

    .logo-text-img {
        width: 60%;
        height: auto;
    }

    .emojipedia-container {
        margin: 5rem 0 1rem 0;
    }

    .banner-desktop {
        display: block;
    }

    .banner-mobile {
        display: none;
    }

    .box-container {
        flex-direction: row;
    }

    .navbar-desktop {
        height: 60%;
    }

    .navbar-icon>p {
        margin: 5px 0;
        font-size: 24px;
    }

    .nav-desktop-container {
        display: flex;
        max-width: 3rem;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .zedge-letter-logo {
        display: none;
    }

    .zedge-logo {
        display: block;
        width: 7rem;

    }

}