@media (min-width: 900px) {

    /* Type */
    body {
        background-color: #a253a2;
    }

    .main {
        margin-left: 4.2rem;
    }

    /* Object */
    .header-mobile-hidden {
        display: none;
    }

    .header-desktop {
        display: flex;
        flex-direction: column;
        margin: 5px 5px;
        padding: 1rem 0;
        width: 4rem;

    }

    .search-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8rem;

    }

    .logo-text-img {
        width: 60%;
        height: auto;
    }

    .img-container {
        margin: 2rem 0;
    }

    .container {
        padding: 0 1rem;
        /* sökfältet går annars kiant i kant. Kanske finns annan lösning. */
    }

    .banner-desktop {
        display: block;
    }

    .banner-mobile {
        display: none;
    }

    .box-container {
        flex-direction: row;
    }

    /* Utility */

}

.navbar-desktop>p {
    margin: 5px 0;
    font-size: 24px;
}



.nav-desktop-container {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
}