/* Type */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
}

h2,
h3 {
    margin: 0 0 1rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 12px;
}

footer h5 {
    margin-top: 0;
}

/* Object */
header {
    background-color: #F0F3F7;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    margin: 3px 3px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.256) 0px 2px 15px;/
}

.header-mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white;
}

.main {
    padding: 0 2.2rem;
}

.footer {
    padding: 0 2.2rem;
}

footer nav {
    width: 50%;
    margin-bottom: 1rem;
}

footer section {
    flex-direction: column;
}

.main-icons {
    font-size: 3.8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}


.navbar-mobile {
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-desktop {
    display: none;
}

.banner-desktop {
    display: none;
}

.logo-icon {
    width: 28px;
    height: 28px;
}

.zedge-letter-logo {
    min-width: 92px;
}

.zedge-logo {
    display: none;
}

.play-store-logo {
    border-radius: 5px;
    max-width: 135px;
}

.emojipedia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12rem 0 5rem 0;
}

.logo-text-img {
    max-width: 224px;
}

.search-desktop {
    display: none;
}

.box-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.earth {
    background-image: url("./assets/Earth_Day_PNG.png");
    background-size: cover;
    height: 7rem;
    border-radius: 5px;
}

.ramadan {
    background-image: url("./assets/Ramadan_PNG.png");
    background-size: cover;
    height: 7rem;
    border-radius: 5px;
}

.cincodemayo {
    background-image: url("./assets/Cinco_de_Mayo_PNG.png");
    background-size: cover;
    height: 7rem;
    border-radius: 5px;
}

section p {
    margin: 0 0 0.5rem 0;
    font-size: 12px;
}

/* Utility */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.grow-1 {
    flex: 1;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}


.bg-white {
    background-color: #fff;
}

.bg-purple {
    background-color: #a253a2;
}

.weight-200 {
    font-weight: 200;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.p-05 {
    padding: 0.5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 4rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.border-radius-5 {
    border-radius: 5px;
}

.size-08 {
    font-size: 0.8rem;
}

.w-fit {
    width: fit-content;
}

.line-height-1 {
    line-height: 1;
}

.color-black {
    color: #000;
}